<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>COMPARAR HOTEIS DE:</h1>
    <form action="/relatorio" method="post">
        <select name="cidade1" id="cidade1">
            {% for valor in content['cidade'] %} 
                <option value="{{valor}}">{{valor}}</option>
            {% endfor %}
        </select>
        
        <select name="cidade2" id="cidade2">
            {% for valor in content['cidade'] %} 
                <option value="{{valor}}">{{valor}}</option>
            {% endfor %}
        </select>
        
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="submit">BUSCAR</button>
    </form>
    
</body>
</html>